<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto mt-5">
            <div class="card border-primary mb-3">
                <div class="card-header text-center"><h3>Recuperar Password</h3></div>
                <div class="card-body">
                    
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" 
                            class="form-control" 
                            [formControl]="userEmail"
                            required>
                        </div>
                        <button (click)="onReset()" class="btn btn-success btn-lg btn-block">Recuperar Password</button>
                </div>
            </div>
        </div>
    </div>
</div>