<app-header-banner></app-header-banner>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators" >
    <li data-target="#myCarousel" data-slide-to="0" *ngFor="let banner of banners; index as i " [ngClass]="{'active': i == 0}"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item " *ngFor="let banner of banners; index as i " [ngClass]="{'active': i == 0}">
      <img src="{{ banner.image }}" class="img-fluid" width="100%" height="100%">
      <div class="container">
        <div class="carousel-caption">
          <h1>{{ banner.title }}</h1>
          <p>{{ banner.text}}</p>
          <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>-->
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

 <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing mt-3">
    <div class="pricing-header px-3 py-3 mt-1 pb-md-5 mx-auto text-center">
      <h1 class="display-4">Vota por tu artista favorito</h1>
      <p class="lead"></p>
    </div>

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4" *ngFor="let postsvotes of items">
        <img class="bd-placeholder-img rounded" src="{{postsvotes.image }}" width="140" height="140">
        <h2>{{ postsvotes.band }}</h2>
        <p>{{ postsvotes.name }}</p>
        <p><a  routerLink="/details/{{ postsvotes.id }}"class="btn btn-primary" role="button">Ver Detalles &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      
     
    </div><!-- /.row -->

    <div class="pricing-header px-3 py-3 mt-1 pb-md-5 mx-auto text-center">
      <h1 class="display-4">Resultados Votación</h1>
      <p class="lead"></p>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-12 mb-4 mt-2">
      <app-grafico></app-grafico>
      </div>
    </div>


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="pricing-header px-3 py-3 mt-1 pb-md-5 mx-auto text-center">
      <h1 class="display-4">Próximos Lanzamientos</h1>
      <p class="lead"></p>
    </div>

    <div class="row featurette">
      
      <div class="col-md-4" *ngFor="let posts of nextPost">
        <div class="card mb-4 border-primary">
          <img src="{{ posts.image}}" class="bd-placeholder-img card-img-top" width="100%" height="225">
          <div class="card-body">
            <p class="card-text h3">{{ posts.band }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <p class="card-text">{{ posts.name }}</p>
              </div>
              <!--<small class="text-muted">9 mins</small>-->
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2020 Marcelo Toro, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>